*.a
*.bundle
*.gem
*.o
*.rbc
*.so
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
debug.log
doc/
lib/bundler/man
mkmf.log
pkg
rdoc
spec/db/*.sqlite3
spec/db/database.yml
spec/reports
test/tmp
test/version_tmp
tmp
